@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.Container {
  width: 100%;
  height: 100%;
  position: relative;
  background: #fbf3f0;
  overflow: hidden;
}

.Dashboard {
  width: 60%;
  height: 100vh;
  left: 34%;
  top: 29px;
  position: absolute;
}

.card_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  position: absolute;
  margin-top: 20%;
}

.Card01 {
  position: relative;
  margin-top: 80px;
}

.Card {
  width: 280px;

  padding-top: 60px;
  padding-bottom: 20px;
  background: white;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.04);
  border-radius: 25px;
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile_img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #ce4a1a;
  position: absolute;
  top: 0;
  left: 24px;
  transform: translate(50%);
  gap: 50%;
  margin-top: -64px;
}

.Doctors {
  color: #686161;
  font-size: 40px;
  font-family: Inter;
  font-weight: 700;
  word-wrap: break-word;
}

.DoctorCrud {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.Gender {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 40px;
}

.Male {
  width: 80px;
  height: 80px;
  background: rgb(255, 255, 255);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border-right: 0.5px solid #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Crud {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.crud_1 {
  display: flex;
  gap: 50px;
}

.btn_card {
  /* width: 70px;
  height: 70px; */
  display: flex;
  /* padding: 10px; */
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;

  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.05) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.5px);
  font-size: 60px;
}

/* admin Inof */
.AdminInfo {
  width: 96%;
  height: 100px;
  padding: 8px 18px;
  top: 90px;
  position: absolute;
  background: white;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.InfoDes {
  width: 550px;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.Text {
  color: black;
  font-size: 30px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.Text_2 {
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

/* serarch ------------------ */
.Search {
  width: 600px;
  height: 60px;
}

.btn_inp {
  width: 600px;
  height: 60px;
  left: 0px;
  top: 0px;
  transform: translate(50%);
  position: absolute;
  border-radius: 4px;
  border-bottom: 0.5px #e2d9d5 solid;
  outline: none;
  color: rgba(0, 0, 0, 0.05);
}

.btn_search {
  width: 200px;
  height: 60px;
  left: 0px;
  top: 0px;
  transform: translate(50%);
  border-radius: 4px;
  border-bottom: 0.5px #e2d9d5 solid;
  outline: none;
}

.material-symbols-outlined {
  top: 0;
  left: 0;
  transform: translate(50%);
  font-size: 40px;
  font-weight: 400;
  color: black;
}

.Plaseholder {
  left: 100px;
  top: 20px;
  position: absolute;
  color: gray;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.SearchLogo {
  width: 55px;
  height: 55px;
  left: 10px;
  top: 10px;
  position: absolute;
  color: white;
}

.SideNav {
  width: 30%;
  height: 100vh;
  height: 100dvh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
}

.NavButtonPatent {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.patient {

  color: #FFF;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 200px;
  padding: 20px;
  border-radius: 10px;
  background: #DB3529;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.patient:hover {

  box-shadow: 0px 4px 10px 0px rgba(219, 53, 41, 0.40);
}


.NavAdminImg {
  top: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  gap: 20px;
}

.NavAdminLogo {
  width: 120px;
  height: 120px;
  padding: 10px;
  position: absolute;
  background: #f97c72;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.nav_img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.Img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.NavLogo {
  width: 120px;
  height: 120px;
  top: 30px;
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  background: #f97c72;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

@media (max-width: 480px) {
  .NavLogo {
    width: 100px;
    height: 100px;
    top: 30px;
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    border-radius: 50%;
    gap: 10px;

  }

  .AdminInfo {
    width: 96%;
    height: 100px;
    padding: 8px 18px;
    /* top: 90px; */
    position: absolute;
    background: white;
    gap: 10px;
  }

  .InfoDes {
    font-size: 20px;

  }
  .Text,.Text_2 {
    color: black;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
  }
  

  .card_list {
    display: flex;
    flex-direction: column;

    position: absolute;
    margin-top: 60%;
  }

  .patient {

    color: #FFF;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    background: #DB3529;
    position: relative;
    text-align: center;
    text-decoration: none;
  }
  
}