* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.nav {
    height: 60px;
    border-radius: 10px;
    background: #ede4ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.left {
    display: flex;

}

.Home,
.logout {
    width: 100px;
    height: 60px;
    font-size: 30px;
    margin-left: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout {
    border: none;
}

.leftActive,
:is(.Home, .logout):hover {
    cursor: pointer;

    border-bottom: 2px solid #9747ff;
    background: rgba(160, 118, 249, 0.2);
}



.pannel {
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 20px 150px;
    height: 60vh;
    background: #c4b0ff;
    box-shadow: 10px 10px 20px 0px rgb(205 192 243 / 12%);
}

.pannelFont {
margin: 10px;
}

.p {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background: #EDE4FF;
    box-shadow: 4px 4px 8px 0px rgba(237, 228, 255, 0.50);
}

.Patietn {
    color: black;
    font-size: 30px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;

    text-decoration: none;
    border-radius: 2px;
}

.active,
.Patietn:hover {
    border-bottom: 2px solid #9747FF;
    background: rgba(160, 118, 249, 0.20);
}

.phone {
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.PhoneNumber {
    height: 60px;
    background: #f7ffe5;
    color: black;
    font-size: 25px;
    font-family: Inter;
    font-weight: 400;
    outline: none;
    border: none;
    padding-left: 6px;
    border-radius: 6px;
    display: grid;
    grid-template-rows: 50%;
    gap: 10px;

}

.button {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background: #D0F5BE;
    border: none;
    font-size: 25px;
    font-weight: 400;
}

.button:hover {
    cursor: pointer;
    background: #D0F5BE;
    box-shadow: 4px 4px 8px 0px rgba(208, 245, 190, 0.50);
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 400;
}

.footer {

}