* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    height: 60px;
    border-radius: 10px;
    background: #ede4ff;

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.left{
    display: flex;
    
}

.Home,.logout {
    width: 100px;
    height: 60px;
    font-size: 30px;
    margin-left: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}.logout{
    border: none;
}
.leftActive, :is(.Home,.logout):hover{
    cursor: pointer;

    border-bottom: 2px solid #9747ff;
    background: rgba(160, 118, 249, 0.2);
}



.pannel {
    width: 1280px;
    height: 580px;
    flex-shrink: 0;
    border-radius: 20px 150px;
    background: #c4b0ff;
    box-shadow: 10px 10px 20px 0px rgba(205, 192, 243, 0.12);
}

.pannelFont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.p {
    width: 600px;
    height: 70px;
    margin-top: 20px;
    padding: 10px;
    gap: 12px;
    display: flex;
    border-radius: 10px;
    background: #EDE4FF;
    box-shadow: 4px 4px 8px 0px rgba(237, 228, 255, 0.50);
}

.Patietn {
    color: black;
    font-size: 30px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    text-decoration: none;
    border-radius: 2px;
}

.active,
.Patietn:hover {


    border-bottom: 2px solid #9747FF;
    background: rgba(160, 118, 249, 0.20);
}

.phone {
    width: 250px;
    position: relative;
    left: -200px;
    display: flex;
    gap: 100px;
}

.PhoneNumber {
    height: 60px;
    background: #f7ffe5;
    color: black;
    font-size: 25px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 20px;

}

.button {
    width: 180px;
    height: 76px;
    border-radius: 20px;
    background: #D0F5BE;
    border: none;
    font-size: 25px;
    font-weight: 400;
    margin-top: 200px;
}

.button:hover {
    cursor: pointer;
    border-radius: 20px;
    background: #D0F5BE;
    box-shadow: 4px 4px 8px 0px rgba(208, 245, 190, 0.50);
}
.footer{
display: grid;
grid-row: ;
}